<?xml version="1.0" encoding="utf-8"?><?xml version="1.0" encoding="utf-8"?>

<configuration><configuration>

  <location path="." inheritInChildApplications="false">  <location path="." inheritInChildApplications="false">

    <system.webServer>    <system.webServer>

      <handlers>      <handlers>

        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />

      </handlers>      </handlers>

      <aspNetCore processPath="dotnet"      <aspNetCore processPath="dotnet"

                  arguments=".\CustomerSite.dll"                  arguments=".\CustomerSite.dll"

                  stdoutLogEnabled="false"                  stdoutLogEnabled="true"

                  stdoutLogFile=".\logs\stdout"                  stdoutLogFile=".\logs\stdout"

                  hostingModel="inprocess" />                  hostingModel="inprocess">

    </system.webServer>        <environmentVariables>

  </location>          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />

</configuration>        </environmentVariables>

      </aspNetCore>
      <httpErrors errorMode="Detailed" />
    </system.webServer>
  </location>
</configuration>
